*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #004af7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
}
.cal{
    background-color: #e4f2fe;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width:  50%;
}
.cal h3{
    font-size: 12px;
    font-weight: 200;
    min-height: 1.5em;
}
.operetion{
    text-align: right;
}
.result{
    padding: 0.2em;
    color: rgb(129, 129, 129);
    overflow-wrap: break-word;
}
.expression{
    padding: 0.2em;
    padding-left: 1.6em;
    overflow-wrap: break-word;
    font-size: 30px;
    font-weight: 700;
    min-height: 2em;
}
.container-button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}
button{
    font-size: 30px;
}